# Set the default behavior, in case people don't have core.autocrlf set.
* text=lf

# Default line endings for the OS
*.md text

# Declare files that will always have LF line endings on checkout.
*.java text eol=lf
